.productList {
    display: flex;
    width: 100%;  
    justify-content: space-around; 
    flex-wrap: wrap;
    padding: 10vh 0vh 10vh;

    .product {
        display: flex;
        flex-direction: column;
        margin: 1vh;

        .product__image {
        }
        .product__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            padding: 0 2vh;
            background-color: #00b3be;
            flex-wrap: nowrap;
        }
        .product__titleView {
            width: 24px;
            height: 16px;
            &:hover {
                transform: scale(0.9);
                transition: 1s;
                cursor: pointer;
            }
            
        }
    }
}
 

@media screen and (max-width: 576px) {   
    .productList {
        width: 100%;
        padding: 25vh 0vh 10vh;
    }
    .product {
    }
}
@media screen and (min-width: 960px) {   
    .productList {
        width: 100%;
        padding: 10vh 0vh 10vh;
    }
    .product {
        width: 20%;
    }
}